* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #45a049;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.success-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

p {
    margin-bottom: 30px;
    color: #555;
    font-size: 16px;
}
/* Style for the Printer List */
#printer-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    max-height: 150px; /* Limit height */
    overflow-y: auto;  /* Add scrolling if necessary */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

#printer-list li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#printer-list li:hover {
    background-color: #d9ffd9; /* Light green when hovered */
}

/* Scrollbar styling for list */
#printer-list::-webkit-scrollbar {
    width: 8px;
}

#printer-list::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 4px;
}

#printer-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.continue-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-btn:hover {
    background-color: #45a049;
}

.error-msg{
    color: red;
    font-size: 14px;
    margin-top: 5px;

}